%% -*- erlang -*-
{erl_opts, [
            debug_info
           ]}.

{deps, [
        {rocksdb, ".*", {git, "https://gitlab.com/Vagabond1/erlang-rocksdb", {branch, "adt/arm64-crc"}}}
       ]}.

{relx, [{release, {rocksq, "0.1.0"},
         [
          rocksq
         ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false}
       ]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
