%% -*- erlang -*-
[
 {rocksq, [{base_dir, "data"}]},
 {rocksdb,
  [{global_opts,
    [
     {max_open_files, 128},
     {compaction_style, universal},
     {memtable_memory_budget, 33554432},  % 32MB
     {arena_block_size, 131072}, % 128k
     {write_buffer_size, 131072},
     {max_write_buffer_number, 4},
     {keep_log_file_num, 5}
    ]}
  ]}
].
